# sphinx documentation
docs/_build/
# python cache
__pycache__
# pytest and testing-related caches
.pytest_cache
.coverage*
.nox
# poetry
dist/
.venv/
# filprofiler
fil-result/

# OSX
*.DS_Store*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Cython
panct/*.c
panct/*.cpp
panct/*.html
